CONFIG__APP__HOST=0.0.0.0
CONFIG__APP__PORT=8080

CONFIG__API__PREFIX=/api
CONFIG__API__V1__PREFIX=/v1

CONFIG__RABBITMQ__HOST=localhost
CONFIG__RABBITMQ__PORT=5672
CONFIG__RABBITMQ__USER=guest
CONFIG__RABBITMQ__PASSWORD=guest
CONFIG__RABBITMQ__VIRTUAL_HOST=/

CONFIG__QUEUE__IMAGE_QUEUE=image_upload_queue
CONFIG__QUEUE__VECTOR_QUEUE=vector_upload_queue
CONFIG__QUEUE__EXCHANGE=image_exchange
CONFIG__QUEUE__IMAGE_ROUTING_KEY=image.upload
CONFIG__QUEUE__VECTOR_ROUTING_KEY=vector.upload
