# APPLICATION
CONFIG__APP__HOST=0.0.0.0
CONFIG__APP__PORT=8080

# API
CONFIG__API__PREFIX=/api
CONFIG__API__V1__PREFIX=/v1
CONFIG__API__V1__AUTH_PREFIX=/auth
CONFIG__API__V1__TOKEN_PREFIX=/token
CONFIG__API__V1__ROLE_PREFIX=/role
CONFIG__API__V1__USER_PREFIX=/user

# DATABASE
CONFIG__DB__HOST=localhost
CONFIG__DB__PORT=5432
CONFIG__DB__DATABASE=ifinder_auth
CONFIG__DB__USER=hoggadar
CONFIG__DB__PASSWORD=password
CONFIG__DB__ECHO=False
CONFIG__DB__ECHO_POOL=False
CONFIG__DB__POOL_SIZE=10
CONFIG__DB__MAX_OVERFLOW=6
CONFIG__DB__POOL_TIMEOUT=30
CONFIG__DB__POOL_RECYCLE=3600

# JWT
CONFIG__JWT__SECRET=secretphrase
CONFIG__JWT__ALGORITHM=HS256
CONFIG__JWT__ACCESS_EXPIRE_MINUTES=15
CONFIG__JWT__REFRESH_EXPIRE_MINUTES=60